.postscont{
    width:100%;
}
.post-cont{
    width:69.5%;
    margin:auto;
    display:flex;
    justify-content: space-between;
}
@media only screen and (max-width:642px){
    .post-cont{
        width:90%;
        display: flex;
        margin:auto;
        justify-content: space-between;
    }
}
@media only screen and (max-width:454px){
    .post-cont{
        width:100%
    }
}