.group_head{
    width:100%;
    height:62vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%), url('../../Assets/grouphead.jpg')no-repeat center/cover fixed ;
    font-family: 'IBM Plex Sans';
    display:flex;
    position:relative;
    z-index:-1;
}
.group_info{
    position : absolute;
    width:61.5%;
    margin:auto;
    color:#FFFFFF;
    top:63%;
    left:15.1%;
}
.group_info h1{
    font-size: 2rem;
    font-weight: 700;
}
.group_info p{
    margin-top: 3px;
    font-size:1.1rem;
    font-weight: 400;
}
.arrow-join-group{
    display:flex;
    justify-content: space-between;
    align-items:center;
    color:white
}
.arrow-join-group button{
    outline:none;
    background: none;
    border: 0.8px solid #FFFFFF;
    border-radius: 4px;
    color:white;
    padding:4px;
    cursor:pointer;
}
.equal-spacing{
    width:90%;
    margin:10px auto;
    display: none;
}
@media only screen and (max-width: 545px){
    .equal-spacing{
        width:90%;
        margin:10px auto;
        display:block;
    }
}